name: CI/CD

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x

      - name: Install dependencies
        run: |
          cd MoreThanBlog
          dotnet restore

      - name: Build
        run: |
          cd MoreThanBlog/1.\ Web/MoreThanBlog/
          dotnet build -c Release -o bin/build

      - name: Copy build files to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          strip_components: 7
          source: "/home/runner/work/MoreThanBlog_BE/MoreThanBlog_BE/MoreThanBlog/1. Web/MoreThanBlog/bin/build/"
          target: "morethan/more-than-blogs-api/build"

      - name: Restart server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            cd morethan
            docker-compose down
            docker-compose up --detach --build